include jadefiles/global/head.jade
|
|
body
  |
  |
  .home-wrap
    include jadefiles/home/header.jade
    |
    |
    .home-sections
  
    
  |        
  |
  |      
  div(style="height: 1000px")  
  |
  |
  include jadefiles/global/footer.jade
