include jadefiles/global/head.jade
|
|
body
  |
  |
  .home-wrap
    include jadefiles/home/header.jade
    |
    |
    .home-sections
      include jadefiles/home/promotion.jade
      |
      |
      include jadefiles/home/news.jade
      |
      |
      include jadefiles/home/video.jade
      |
      |
      include jadefiles/home/pay.jade
      |
      |
      include jadefiles/home/subscribe.jade
    |
    |
    include jadefiles/home/footer.jade
  |        
  |
  |      
  include jadefiles/global/footer.jade
