/* CREATE BUTTON */
.btn-login {
  font-size: 14px;
  color: $accent-color;
  @include hoverColor($accent-color);
}

.btn-more {
  color: $accent-color;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
  @include hoverColor($accent-color);

  i {
    margin-right: 10px;
  }
}

.btn-book {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: $white-color;
  background: $accent-color2;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include hoverColor($white-color);

  &:hover {
    box-shadow: 0px 5px 12px 0px rgba(27, 49, 98, 0.33);

  }
}
