/* GLOBAL COLOR */
$accent-color: #05163d;
$accent-color1: #57e8ff;
$accent-color2: #1b3162;
$white-color: #ffffff;

/* TEXT COLOR */
$text-color: #8fb8f0;
$text-color1: #423f54;
$text-color2: #bcd0ff;
$text-color3: #c1c0c4;
$text-color4: #9a98a0;
$text-color5: #d0262a;
$text-color6: #666d83;
$text-color7: #898989;
