// Add Script Area
script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')


script(src='assets/js/lunar-calendar/Scripts/jquery/jquery-ui-1.12.0/jquery-ui.min.js', type='text/javascript')
script(src='assets/js/lunar-calendar/Scripts/jquery/jquery-migrate-1.4.1.min.js', type='text/javascript')

script(src='assets/js/lunar-calendar/ScriptResource7f56.js?d=xNLeDR-zv1qF87DHj9FOGc7bZYRku4hPt_298qTu2YEqtR5y3XtilWmDFymCpTeV67cwZnlV9AXbh4VqDEDTa05Jcoa0t2PXRAv67OAhg-_e6si576F1lopmgIr-tG1KXH56Rl8cukInY3QRddlp5Pn9kb5ET40_MfTPsA9IxL01&t=7484f5de', type='text/javascript')
script(src='assets/js/lunar-calendar/ScriptResource104e.js?d=rGIbRU-b1IflO74OCzZdfEYFgvh9mTt_VkAkcNgV6JBauUb7wluPodslQXUFZTUek0I3xiOCtWhA2SENZvzYvPYT5C83pFlr474_lzTa3ipp-M-qQ4N2fk62EbD8BnKH0&t=23c9c237', type='text/javascript')
script(src='assets/js/lunar-calendar/ScriptResource4255.js?d=klpXQdaCqS-HPuG1vhp7p8OXXTJ5DKWSvTQm_8WyKKxLqag1CJMddL8VGj8fvdnL-XTDNQtD30q7emg1n1LmLR4nSssO0SeDLvq6vbNdhZkdwdcsLhatlMvyxveR4VuWLkh5IBQU75rx_qS6o2UoFw2&t=23c9c237', type='text/javascript')
script(src='assets/js/lunar-calendar/Scripts/jquery/ui.datepicker.lunar.min.js', type='text/javascript')
script(src='assets/js/lunar-calendar/functions.js', type='text/javascript')
  

script(src="assets/js/bootstrap/popper.min.js")
script(src="assets/js/bootstrap/bootstrap.min.js")
script(src='assets/js/nice-select/jquery.nice-select.min.js')
script(src='assets/js/nice-select/nice-select.js')
script(src='assets/js/chosen-js/chosen.jquery.min.js')
script(src='assets/js/jquery-easing/jquery.easing.1.3.js')
script(src='assets/js/WOW/wow.min.js')
script(src='assets/js/owl-carousel/owl.carousel.min.js')
script(src='assets/js/countdown/jquery.countdown.min.js')
script(src='assets/js/filter-gallery/jquery.filterizr.min.js')
script(src='assets/js/lightbox/jquery.magnific-popup.min.js')
script(src='assets/js/hover-direction/jquery.hoverdir.js')
script(src="assets/js/functions.js")
