.radio
  input#radio-1(name='radio', type='radio', checked='')
  |     
  label.radio-label(for='radio-1') Checked
|   
.radio
  input#radio-2(name='radio', type='radio')
  |     
  label.radio-label(for='radio-2') Unchecked
|   
.radio
  input#radio-3(name='radio', type='radio', disabled='')
  |     
  label.radio-label(for='radio-3') Disabled
