footer.footer 
  .container
    .row.footer-wrap
      .col-md-4
        h3.text-uppercase logo here
        p Chúng tôi tự hào là một trong những OTA hàng đầu hiện nay từ thị trường nước ngoài về Việt Nam. Lần đầu tiên tại Việt Nam xuất hiện hệ thống đặt, giữ chỗ, trả code Airlines và xuất vé máy bay TỰ ĐỘNG HOÀN TOÀN.
        p Hệ thống được kết nối trực tuyến tới hơn 500 Hãng Hàng không trên toàn thế giới và khu vực cho phép người dùng có thể kiểm tra chuyến bay, đặt và giữ chỗ vé tàu bay mọi lúc mọi nơi.
      |
      |
      .col-md-4
        h3.text-uppercase Địa chỉ liên hệ
        p Chúng tôi tự hào là một trong những OTA hàng đầu hiện nay từ thị trường nước ngoài về Việt Nam. Lần đầu tiên tại Việt Nam xuất hiện hệ thống đặt, giữ chỗ, trả code Airlines và xuất vé máy bay TỰ ĐỘNG HOÀN TOÀN.
        h3.text-uppercase KẾT NỐI VỚI CHÚNG TÔI
        .wrap-social
          a(href="#"): i.fa.fa-twitter(aria-hidden='true')
          a(href="#"): i.fa.fa-facebook(aria-hidden='true')
          a(href="#"): i.fa.fa-instagram(aria-hidden='true')
          a(href="#"): i.fa.fa-youtube-square(aria-hidden='true')
      |
      |
      .col-md-4
        h3.text-uppercase đối tác
        img.w-100(src="assets/img/home/footer/partner.png", alt="")
      |
      |
    .footer-copyright
      p Copyright
        
