header.header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.main-nav
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    |   
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.text-uppercase
        li.nav-item.active
          a.nav-link(href='#')
            | trang chủ 
            span.sr-only (current)
        |       
        li.nav-item
          a.nav-link(href='#') Khuyến mãi
        li.nav-item
          a.nav-link(href='#') Tin tức
        li.nav-item
          a.nav-link(href='#') Khách sạn
        li.nav-item
          a.nav-link(href='#') Vé máy bay
      |
      |     
      form.form-inline.my-2.my-lg-0.search-form
        .wrap-form
          input.form-control(type='search', placeholder='Search', aria-label='Search')
          i.fa.fa-search(aria-hidden='true')
        |       
        a.btn-login.text-uppercase(href="#") Đăng nhập

  |
  |
  nav.search-nav
  
