// section main-form
section.main-form
  .owl-carousel.owl-theme.form-carousel
    .item
      img.w-100(src="assets/img/home/form/form-bg.jpg", alt="")
  |
  |
  .form-container
    .container
      .form-nav
        ul.nav.list-unstyled(role="tablist")
          li
            a(data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1").btn-form.active
              i.fa.fa-plane(aria-hidden='true')
              | TÌM VÉ MÁY BAY
          li
            a(data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2").btn-form
              i.fa.fa-building-o(aria-hidden='true')
              | TÌM KHÁCH SẠN
      |
      |
      .tab-content
        #tab1.form-search-wrap.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="home-tab")
          .wrap-from
            input#lang(type='hidden', value='vi-VN')
            .form-group
              span FROM
              .wrap
                input.form-control(type="text" placeholder="Nhập thành phố hoặc sân bay").nice-select-filter
                select.form-control(name='location', data-placeholder='Nhập thành phố hoặc sân bay', style='width:100%;', tabindex='2')
                  option(value='0') Nhập thành phố hoặc sân bay
                  option(value='47') An Giang
                  |                                                                                     
                  option(value='20') B&agrave; R&#x1ECB;a - V&utilde;ng T&agrave;u
                  |                                                                                     
                  option(value='62') B&#x1EA1;c Li&ecirc;u
                  |                                                                                     
                  option(value='25') B&#x1EAF;c Giang
            |
            |
            .exchange
              i.fa.fa-exchange(aria-hidden='true')
            |
            |
            .form-group
              span TO
              .wrap
                input.form-control(type="text" placeholder="Nhập thành phố hoặc sân bay").nice-select-filter
                select.form-control(name='location', data-placeholder='Nhập thành phố hoặc sân bay', style='width:100%;', tabindex='2')
                  option(value='0') Nhập thành phố hoặc sân bay
                  option(value='47') An Giang
                  |                                                                                     
                  option(value='20') B&agrave; R&#x1ECB;a - V&utilde;ng T&agrave;u
                  |                                                                                     
                  option(value='62') B&#x1EA1;c Li&ecirc;u
                  |                                                                                     
                  option(value='25') B&#x1EAF;c Giang
          |
          |
          .row.form-calendar
            .col-md-3
              .form-group
                span: i.fa.fa-calendar(aria-hidden='true')
                input#txtDepartureDate.form-control.TextBox(name='ctl00$MainContent$uclSearchBox$txtDepartureDate', type='text', value='27/10/2017', autocomplete='off')
            |
            |
            .col-md-3
              .form-group
                span: i.fa.fa-calendar(aria-hidden='true')
                input#txtReturnDate.form-control.TextBox(name='ctl00$MainContent$uclSearchBox$txtReturnDate', type='text', value='30/10/2017', autocomplete='off')
            |
            |
            .col-md-2
              .form-group
                span.ticket Người lớn
                select.form-control
                  option(data-display='1') 1
                  |   
                  option(value='2') 2
                  |   
                  option(value='4') 3
            |
            |
            .col-md-2
              .form-group
                span.ticket Trẻ em
                select.form-control
                  option(data-display='0') 0
                  |   
                  option(value='1') 1
                  |   
                  option(value='2') 2
            |
            |
            .col-md-2
              .form-group
                span.ticket Em bé
                select.form-control
                  option(data-display='0') 0
                  |   
                  option(value='1') 1
                  |   
                  option(value='2') 2
            |
            |
            .col-md-12
              .wrap-radio
                .radio
                  input#radio-1(name='radio', type='radio', checked='')
                  |     
                  label.radio-label(for='radio-1') Một chiều
                |   
                .radio
                  input#radio-2(name='radio', type='radio')
                  |     
                  label.radio-label(for='radio-2') Khứ hồi
        |
        |
        #tab2.form-search-wrap.tab-pane.fade(role="tabpanel" aria-labelledby="home-tab")
          .wrap-from
            input#lang(type='hidden', value='vi-VN')
            .form-group
              span FROM
              .wrap
                input.form-control(type="text" placeholder="Nhập thành phố hoặc sân bay").nice-select-filter
                select.form-control(name='location', data-placeholder='Nhập thành phố hoặc sân bay', style='width:100%;', tabindex='2')
                  option(value='0') Nhập thành phố hoặc sân bay
                  option(value='47') An Giang
                  |                                                                                     
                  option(value='20') B&agrave; R&#x1ECB;a - V&utilde;ng T&agrave;u
                  |                                                                                     
                  option(value='62') B&#x1EA1;c Li&ecirc;u
                  |                                                                                     
                  option(value='25') B&#x1EAF;c Giang
            |
            |
            .exchange
              i.fa.fa-exchange(aria-hidden='true')
            |
            |
            .form-group
              span TO
              .wrap
                input.form-control(type="text" placeholder="Nhập thành phố hoặc sân bay").nice-select-filter
                select.form-control(name='location', data-placeholder='Nhập thành phố hoặc sân bay', style='width:100%;', tabindex='2')
                  option(value='0') Nhập thành phố hoặc sân bay
                  option(value='47') An Giang
                  |                                                                                     
                  option(value='20') B&agrave; R&#x1ECB;a - V&utilde;ng T&agrave;u
                  |                                                                                     
                  option(value='62') B&#x1EA1;c Li&ecirc;u
                  |                                                                                     
                  option(value='25') B&#x1EAF;c Giang
          |
          |
          .row.form-calendar
            .col-md-3
              .form-group
                span: i.fa.fa-calendar(aria-hidden='true')
                input#txtDepartureDate.form-control.TextBox(name='ctl00$MainContent$uclSearchBox$txtDepartureDate', type='text', value='27/10/2017', autocomplete='off')
            |
            |
            .col-md-3
              .form-group
                span: i.fa.fa-calendar(aria-hidden='true')
                input#txtReturnDate.form-control.TextBox(name='ctl00$MainContent$uclSearchBox$txtReturnDate', type='text', value='30/10/2017', autocomplete='off')
            |
            |
            .col-md-2
              .form-group
                span.ticket Người lớn
                select.form-control
                  option(data-display='1') 1
                  |   
                  option(value='2') 2
                  |   
                  option(value='4') 3
            |
            |
            .col-md-2
              .form-group
                span.ticket Trẻ em
                select.form-control
                  option(data-display='0') 0
                  |   
                  option(value='1') 1
                  |   
                  option(value='2') 2
            |
            |
            .col-md-2
              .form-group
                span.ticket Em bé
                select.form-control
                  option(data-display='0') 0
                  |   
                  option(value='1') 1
                  |   
                  option(value='2') 2
            |
            |
            .col-md-12
              .wrap-radio
                .radio
                  input#radio-3(name='radio', type='radio', checked='')
                  |     
                  label.radio-label(for='radio-3') Một chiều
                |   
                .radio
                  input#radio-4(name='radio', type='radio')
                  |     
                  label.radio-label(for='radio-4') Khứ hồi
      
      
