// section news
section.promotion.news
  .container
    .promotion-title
      h5.text-uppercase cập nhật tin tức
      h2 Xem những bài viết mới nhất
    |
    |
    .line
    .row
      .col-md-4
        .news-wrap
          a(href="#")
            img.w-100(src="assets/img/home/news/post_03.png", alt="")
          a.news-overlay(href="#")
          .news-content
            a(href="#") “Những Trải Nghiệm Siêu Độc Đáo Ở Đà Lạt Cuối Tuần Cho Những Cặp Đôi”
            span.text-uppercase 11 apr 2017
      |
      |
      .col-md-4
        .news-wrap
          a(href="#")
            img.w-100(src="assets/img/home/news/post_05.png", alt="")
          a.news-overlay(href="#")
          .news-content
            a(href="#") “Dọc Ngang Việt Nam, Ghé Thăm Những Quán Cafe Chất Ngất”
            span.text-uppercase 11 apr 2017
      |
      |
      .col-md-4
        .news-wrap
          a(href="#")
            img.w-100(src="assets/img/home/news/post_07.png", alt="")
          a.news-overlay(href="#")
          .news-content
            a(href="#") Homestay Việt Nam: Tại Sao Các Tín Đồ Ưa Xê Dịch Lại Mê Như “Điếu Đổ”?
            span.text-uppercase 11 apr 2017
      |
      |
      a.btn.btn-more.text-uppercase(href="#") 
        i.fa.fa-refresh(aria-hidden='true')
        | XEM THÊM
