// section pay
section.video.pay
  img.w-100.lace(src="assets/img/home/pay/lace.png", alt="")
  .container
    .promotion-title
      h5.text-uppercase cập nhật tin tức
      h2 Phương thức thanh toán.
    |
    |
    .line
    #pay-tab(role='tablist')
      .card
        .line
        #headingOne.card-header(role='tab')
          h5.mb-0
            a(data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
              | 1, PHƯƠNG THỨC GIAO VÉ - TRẢ TIỀN MẶT
              i.fa.fa-plus(aria-hidden='true')
          
        |   
        |       
        #collapseOne.collapse(role='tabpanel', aria-labelledby='headingOne', data-parent='#accordion')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
      |     
      .card
        .line.show-line
        #headingTwo.card-header(role='tab')
          h5.mb-0
            a.collapsed(data-toggle='collapse', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
              | 2,  PHƯƠNG THỨC THANH TOÁN TRƯỚC
              i.fa.fa-close(aria-hidden='true')

        |       
        #collapseTwo.collapse.show(role='tabpanel', aria-labelledby='headingTwo', data-parent='#accordion')
          .card-body
            
            p Chuyển tiền, chuyển khoản, thanh toán trực tiếp bằng tiền mặt hoặc qua thẻ tại văn phòng của chúng tôi.
            p: strong a. Chuyển tiền/chuyển khoản:
            p Áp dụng cho khách hàng ngoài khu vực hỗ trợ giao nhận miễn phí và khách hàng có nhu cầu sử dụng phương thức thanh toán này.
            p Tên tài khoản: 
              span.text-accent TÊN CÔNG TY
            p Số tài khoản:  
              span.text-accent 0192308402802
            p Tại: Ngân hàng TMCP Ngoại Thương Việt Nam (Vietcombank) – Chi nhánh TP. Hồ Chí Minh.
            p: strong b. Thanh toán trực tiếp bằng tiền mặt hoặc thẻ (Thẻ Visa, Thẻ tín dụng, ...):
            p - Quý khách đến văn phòng để thực hiện thanh toán, nhân viên của chúng tôi sẽ hướng dẫn quý khách. 
            p - Trong trường hợp quý khách thanh toán bằng thẻ Visa hoặc Master bằng cách cà thẻ tại Trung tâm của chúng tôi, Quý khách phải mang thẻ và phải đúng chủ thẻ để lấy phiếu và ký nhận phiếu đã thanh toán. Chúng tôi sẽ không chịu trách nhiệm khi quý khách dùng thẻ của người khác để thanh toán. Ngay sau khi kiểm tra và nhận được báo "Có" từ Ngân hàng, chúng tôi sẽ tiến hành xuất hàng và giao hàng cho quý khách trong thời gian sớm nhất.
      |     
      .card
        .line
        #headingThree.card-header(role='tab')
          h5.mb-0
            a.collapsed(data-toggle='collapse', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
              | 3,  PHƯƠNG THỨC THANH TOÁN TRỰC TUYẾN
              i.fa.fa-plus(aria-hidden='true')
              
        |       
        #collapseThree.collapse(role='tabpanel', aria-labelledby='headingThree', data-parent='#accordion')
          .card-body
            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
