// section subscribe
section.subscribe
  .container
    h4.text-uppercase theo dõi nhiều thông tin khuyến mãi
    form.subscribe-form
      input.form-control(type="text" placeholder="Nhập E-mail hoặc số điện thoại")
      a.btn.btn-subscribe.text-uppercase(href="#") SUBSCRIBE
        
