// section video
section.promotion.video
  .container
    .promotion-title
      h5.text-uppercase cập nhật tin tức
      h2 The best travel videos.
    |
    |
    .line
    .row
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac libero quis nunc sollicitudin ultrices. Aliquam vehicula sapien nec dui porta pharetra. Duis commodo erat eu urna eleifend, nec fringilla dolor maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac libero quis nunc sollicitudin ultrices. Aliquam vehicula sapien nec dui porta pharetra. Duis
        a.btn.btn-book.text-uppercase(href="#") BOOK NOW
      |
      |
      .col-md-6
        a(href="#")
          img.video-pic.w-100(src="assets/img/home/video/video.png", alt="")
          img.play-icon(src="assets/img/home/play-icon.png", alt="")
