.main-form {
  position: relative;

  .item {
    img {
      filter: blur(3px);
    }
  }

  .form-container {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    width: 100%;
  }

  .row {
      display: flex;
      justify-content: space-between;
  }

  .wrap-from {
    display: flex;
    justify-content: space-between;

    .form-group {
      display: flex;
      align-items: center;
      background: $white-color;
      padding: 15px 20px;
      width: 520px;
      height: 80px;

      & > span {
        font-weight: 600;
        font-size: 16px;
        color: $accent-color;
        margin-right: 30px;
      }

      .wrap {
        width: 100%;
        position: relative;
      }

      .form-control {
        border: none !important;
        font-size: 27px;
        color: #666d83;
        font-weight: 600;

        .list {
          z-index: 100;

          li {
            font-size: 16px;
          }
        }
      }
    }
  }

  .exchange {
    display: flex;
    align-items: center;

    i {
      cursor: pointer;
      margin-top: -10px;
      color: $white-color;
      font-size: 22px;
    }
  }

  .form-calendar {
    margin-top: 15px;

    .form-group {
      display: flex;
      align-items: center;
      background: $white-color;
      padding: 7px 20px;
      position: relative;

      i {
        color: $accent-color;
        font-size: 20px;
      }

      .form-control {
        border: none !important;
        border-radius: 0 !important;
      }
    }

    .ticket {
      font-size: 16px;
      color: $accent-color1;
      font-weight: 600;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      pointer-events: none;
    }

    .nice-select {
      border-radius: 2px !important;
      line-height: 30px !important;

      .list {
        width: 100%;
        li {
          font-size: 16px;
        }
      }

      .current {
        margin-left: -20px;
        font-size: 27px;
        font-weight: 600;
        color: $accent-color;
      }
    }
  }

}
